<template>
  <div class="home">
    <div class="container">
      <h4 class="text-left my-5">Select Search type</h4>
      <router-link class="mx-5 my-5" to="/organization">Organization</router-link>
      <router-link class="mx-5 my-5" to="/user">User</router-link>
      <router-link class="mx-5 my-5" to="/ticket">Ticket</router-link>
    </div>
    <div>
      <router-view/>
    </div>
  </div>
</template>

<script>
export default {
  name: "home",
  components: {},
  data() {
    return {};
  }
};
</script>