<template>
  <div class="home">
    <div class="container">
      <h4 class="text-left my-5">Search Organizations</h4>
      <form>
        <div class="row col-12">
          <div class="form-group row col-3">
            <label for="staticEmail" class="col-sm-2 col-form-label">ID</label>
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="_id"
                v-model="org._id"
              />
            </div>
          </div>
          <div class="form-group row col-3">
            <label for="staticEmail" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="name"
                v-model="org.name"
              />
            </div>
          </div>
          <div class="form-group row col-3">
            <label for="staticEmail" class="col-sm-2 col-form-label">Details</label>
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="details"
                v-model="org.details"
              />
            </div>
          </div>
          
          <div class="form-group row col-3">
            <label for="staticEmail" class="col-sm-2 col-form-label">URL</label>
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="url"
                v-model="org.url"
              />
            </div>
          </div>
        </div>

        <button type="button" class="btn btn-primary" @click="Search">Search</button>
      </form>

      <div class="row">
        <div class="col-12 text-left">
          <b>
            <h4>Results :</h4>
          </b>
        </div>

        <div class="col-6 text-left mb-3">
          ORGANIZATION DETAILS :
          <div v-if="organizations.length>0">
            <div v-for="(org, $index) in organizations" :key="$index" class="my-3">
              <ul>
                <li>Name : {{org.name}}</li>
                <li>Details : {{org.details}}</li>
                <li>URL : {{org.url}}</li>
              </ul>
            </div>
          </div>
          <div v-else>No organization found!</div>
        </div>

        <div class="col-3 text-left">
          USERS
            <div v-if="organizations.length>1">
               Multiple organizations found!
           </div>
          <ul v-else-if="resultUsers.length>0">
            <li v-for="(user, $index) in resultUsers" :key="$index">{{user.name}}</li>
          </ul>
          <div v-else>No users found!</div>
        </div>
        <div class="col-3 text-left">
          TICKETS
           <div v-if="organizations.length>1">
               Multiple organizations found!
           </div>
          <ul v-else-if="resultTickets.length>0">
            <li v-for="(ticket, $index) in resultTickets" :key="$index">{{ticket.subject}}</li>
          </ul>
          <div v-else>No tickets found!</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "home",
  components: {},
  data() {
    return {
      type: "",
      old_org: {
        name: "",
        details: ""
      },

      org: {
        url: "",
        _id: "",
        name: "",
        details: "",
      }
    };
  },
  mounted() {
  },
  computed: {
    organizations() {
      return this.$store.state.resultOrganizations;
    },
    resultUsers() {
      return this.$store.state.resultUsers;
    },
    resultTickets() {
      return this.$store.state.resultTickets;
    },
    resultStatus() {
      return this.$store.state.status;
    }
  },
  methods: {
    Search() {
      this.$store.commit("RESET_RESULTS");
      if (this.org.name == "" && this.org.details == "" && this.org._id == ""&& this.org.url == "" ) {
        alert("Please enter search keywords!");
        return;
      } else {
        this.$store.dispatch("search", {
          type: "org",
          keyword: this.org
        });
      }
    },
  }
};
</script>