<template>
  <div class="home">
    <div class="container">
      <h4 class="text-left my-5">Search Tickets</h4>
      <form>
        <div class="row col-12">
          <div class="form-group row col-3">
            <label for="staticEmail" class="col-sm-2 col-form-label">ID</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="_id" v-model="ticket._id" />
            </div>
          </div>
          <div class="form-group row col-3">
            <label for="staticEmail" class="col-sm-2 col-form-label">Subject</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="subject" v-model="ticket.subject" />
            </div>
          </div>
          <div class="form-group row col-3">
            <label for="staticEmail" class="col-sm-2 col-form-label">Priority</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="priority" v-model="ticket.priority" />
            </div>
          </div>

          <div class="form-group row col-3">
            <label for="staticEmail" class="col-sm-2 col-form-label">Status</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="status" v-model="ticket.status" />
            </div>
          </div>
          <div class="form-group row col-3">
            <label for="staticEmail" class="col-sm-2 col-form-label">Type</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="type" v-model="ticket.type" />
            </div>
          </div>
        </div>

        <button type="button" class="btn btn-primary" @click="Search">Search</button>
      </form>

      <div class="row">
        <div class="col-12 text-left">
          <b>
            <h4>Results :</h4>
          </b>
        </div>

        <div class="col-6 text-left mb-3">
          TICKET DETAILS :
          <div v-if="t_ticketData.length>0">
            <div v-for="(ticket, $index) in t_ticketData" :key="$index" class="my-3">
              <ul>
                <li>Subject : {{ticket.subject}}</li>
                <li>Priority : {{ticket.priority}}</li>
                <li>Status : {{ticket.status}}</li>
                <li>Organization Name : {{u_organization[0]? u_organization[0].name:'-'}}</li>
                <li>URL : {{ticket.url}}</li>
                <li>Description : {{ticket.description}}</li>
              </ul>
            </div>
          </div>
          <div v-else>No tickets found!</div>
        </div>

        <div class="col-3 text-left">
          ASSINEE NAME :
           <div v-if="t_ticketData.length>1">
               Multiple tickets found!
           </div>
          <ul v-else-if="t_assigneeUser.length>0">
            <li v-for="(user, $index) in t_assigneeUser" :key="$index">{{user.name}}</li>
          </ul>
          <div v-else>No assignee user found!</div>
        </div>
        <div class="col-3 text-left">
          SUBMITTER NAME :
           <div v-if="t_ticketData.length>1">
               Multiple tickets found!
           </div>
          <ul v-else-if="t_submittedUser.length>0">
            <li v-for="(user, $index) in t_submittedUser" :key="$index">{{user.name}}</li>
          </ul>
          <div v-else>No submitter user found!</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "home",
  components: {},
  data() {
    return {
      ticket: {
        _id: "",
        subject: "",
        priority: "",
        status: "",
        type: ""
      }
    };
  },
  mounted() {},
  computed: {
    t_assigneeUser() {
      return this.$store.state.t_assigneeUser;
    },
    t_submittedUser() {
      return this.$store.state.t_submittedUser;
    },
    u_organization() {
      return this.$store.state.u_organization;
    },
    t_ticketData() {
      return this.$store.state.t_ticketData;
    }
  },
  methods: {
    Search() {
      this.$store.commit("RESET_RESULTS");
      if (
        this.ticket._id == "" &&
        this.ticket.subject == "" &&
        this.ticket.priority == "" &&
        this.ticket.type == "" &&
        this.ticket.status == ""
      ) {
        alert("Please enter search keywords!");
        return;
      } else {
        this.$store.dispatch("search", {
          type: "ticket",
          keyword: this.ticket
        });
      }
    }
  }
};
</script>