<template>
  <div class="home">
    <div class="container">
      <h4 class="text-left my-5">Search Users</h4>
      <form>
        <div class="row col-12">
          <div class="form-group row col-3">
            <label for="staticEmail" class="col-sm-2 col-form-label">ID</label>
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="_id"
                v-model="user._id"
              />
            </div>
          </div>
          <div class="form-group row col-3">
            <label for="staticEmail" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="name"
                v-model="user.name"
              />
            </div>
          </div>
          <div class="form-group row col-3">
            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="email"
                v-model="user.email"
              />
            </div>
          </div>
          <div class="form-group row col-3">
            <label for="staticEmail" class="col-sm-2 col-form-label">URL</label>
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="url"
                v-model="user.url"
              />
            </div>
          </div>
          <div class="form-group row col-3">
            <label for="staticEmail" class="col-sm-2 col-form-label">Alias</label>
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="alias"
                v-model="user.alias"
              />
            </div>
          </div>
          <div class="form-group row col-3">
            <label for="staticEmail" class="col-sm-2 col-form-label">T.Zone</label>
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="timezone"
                v-model="user.timezone"
              />
            </div>
          </div>
          <div class="form-group row col-3">
            <label for="staticEmail" class="col-sm-2 col-form-label">Phone</label>
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="phone"
                v-model="user.phone"
              />
            </div>
          </div>
          <div class="form-group row col-3">
            <label for="staticEmail" class="col-sm-2 col-form-label">Role</label>
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="role"
                v-model="user.role"
              />
            </div>
          </div>
        </div>

        <button type="button" class="btn btn-primary" @click="Search">Search</button>
      </form>

      <div class="row">
        <div class="col-12 text-left">
          <b>
            <h4>Results :</h4>
          </b>
        </div>

        <div class="col-6 text-left mb-3">
          USER DETAILS :
          <div v-if="u_user.length>0">
            <div v-for="(user, $index) in u_user" :key="$index" class="my-3">
              <ul>
                <li>Name : {{user.name}}</li>
                <li>Alias : {{user.alias}}</li>
                <li>Email : {{user.email}}</li>
                <li>Organization Name: {{u_organization[0].name}}</li>
              </ul>
            </div>
          </div>
          <div v-else>No user found!</div>
        </div>

        <div class="col-3 text-left">
          ASSIGN TICKETS
           <div v-if="u_user.length>1">
               Multiple users found!
           </div>
          <ul v-else-if="u_assignTickets.length>0">
            <li v-for="(ticket, $index) in u_assignTickets" :key="$index">{{ticket.subject}}</li>
          </ul>
          <div v-else>No assign tickets found!</div>
        </div>
        <div class="col-3 text-left">
          SUBMITTED TICKETS
          <div v-if="u_user.length>1">
               Multiple users found!
           </div>
          <ul v-else-if="u_submittedTicket.length>0">
            <li v-for="(ticket, $index) in u_submittedTicket" :key="$index">{{ticket.subject}}</li>
          </ul>
          <div v-else>No submitted tickets found!</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "home",
  components: {},
  data() {
    return {
      user: {
        _id: "",
        url: "",
        name: "",
        alias:"",
        timezone:"",
        email:"",
        phone:"",
        role:""
      }
    };
  },
  mounted() {
  },
  computed: {
    u_organization() {
      return this.$store.state.u_organization;
    },
    u_user() {
      return this.$store.state.u_user;
    },
    u_assignTickets() {
      return this.$store.state.u_assignTickets;
    },
    u_submittedTicket() {
      return this.$store.state.u_submittedTicket;
    }
  },
  methods: {
    Search() {
      this.$store.commit("RESET_RESULTS");
      if (
      this.user._id == "" && 
      this.user.url == "" && 
      this.user.name == ""&& 
      this.user.alias == "" &&
      this.user.timezone == "" &&
      this.user.email == "" &&
      this.user.phone == "" &&
      this.user.role == ""
      ) {
        alert("Please enter search keywords!");
        return;
      } else {
        this.$store.dispatch("search", {
          type: "user",
          keyword: this.user
        });
      }
    },
  }
};
</script>